#homelink{
    text-transform: uppercase;
    color: #7395ae;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #7395ae;
    text-align: center;
}

ul {
    list-style:square;
    
}


.Food a:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: medium;
    font-size: 2 rem;
    color: #557a95;
}

.Food a:visited {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: medium;
    font-size: 2 rem;
    color: #557a95;
}

.Food a:hover {
    color:burlywood;
}

.Food a:active {
    color:cadetblue;
}


#phillytable {
    
    width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    

}

table, th, td {
    border: 3px solid #efe2ba;
    border-collapse: collapse;
    border-style: ridge;
}

#phillytable th {
    text-decoration: underline;
    color: #557a95;
}

#phillytable td {
    color: whitesmoke;
    font-size: 1.30vw;
}



.Food  ul > li {
    font-style: italic;
}

.Food {
    border-style:ridge;
    border-color: #efe2ba;
    border-width: 3px;
    width: 875px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.Food li::first-line {
    color:whitesmoke;
}

.Fun {
    border-style:ridge;
    border-color: #efe2ba;
    border-width: 3px;
    width: 875px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.Fun ul > li {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: medium;
    font-size: 16 px;
    color: #557a95;
}

.video {
    border-style:ridge;
    border-color: #efe2ba;
    border-width: 3px;
    width: 875px;
    padding-left: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;

}


.video .youtube iframe{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}
body {
    background: lightgray;
}





